
/* global */

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter.ttf');
}

html {
    font-family: 'Inter';
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1920px;
}

header {
    display: flex;
    flex-direction: column;
}

